.scrollable{
    overflow: scroll;
}

.form-group>input {
    border-color: currentColor;
}

.form-group>input:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid currentColor !important;
}

.form-group>.form-control-feedback {
    position: relative;
    top: -2rem;
    right: 1rem;
    z-index: 2;
}

form>.form-group{
    max-height: 3.5rem
}

.form-group>.invalid-feedback{
    position: relative;
    top: -2rem;
}

textarea {
    border : 0;
    overflow-y : auto; /* IE */
    resize : none; /* Firefox, Chrome */
}

textarea:focus {
    outline : 0; /* Chrome */
}

#chat{
    overflow-y : auto;
}

#chat > .media{
    margin-top: 1rem;
}

#chat > .media img{
    max-width: 4rem;
    max-height: 4rem;
    margin: 0rem 1rem;
}

#chat > .media .media-body{
    background-color: lightgray;
    padding: 1rem;
}

#chat > .media-right .media-body{
    margin-left: 25rem;
    margin-right: 2rem;
}

#chat > .media-left .media-body{
    margin-right: 25rem;
}