.form-group>input {
    border-color: currentColor;
}

.form-group>input:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid currentColor !important;
}

.form-group>.form-control-feedback {
    position: relative;
    top: -2rem;
    right: 1rem;
    z-index: 2;
}

form>.form-group{
    max-height: 3.5rem
}
.form-group>.invalid-feedback{
    position: relative;
    top: -2rem;
}